@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-montserrat: 'Montserrat', system-ui, sans-serif;
}

body {
  font-family: var(--font-montserrat);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
